In [1]:
import pandas as pd

In [2]:
df1  = pd.read_csv('vgnew_awarded1.csv')
df2 = pd.read_csv('vgsales_0_class.csv')

In [3]:
df1 = df1[['Name','multiplayer','singleplayer','awarded']]

df4 = df1.drop_duplicates(subset=['Name'])

In [4]:
print(df1.shape)
print(df4.shape)

df3 = df4.merge(right= df2, on= 'Name', how= 'inner')

(16598, 4)
(11493, 4)

In [5]:
print(df1.shape)
print(df2.shape)
print(df3.shape)

(16598, 4)
(5184, 55)
(4259, 58)

In [6]:
df3 = df3.drop('IP',axis = 1)

In [7]:
df3 = df3.dropna()
df3["multiplayer"] = df3["multiplayer"].astype(int)
df3["singleplayer"] = df3["singleplayer"].astype(int)

In [8]:
df3

,Name,multiplayer,singleplayer,awarded,Global_Sales,Genre__Action-Adventure,Genre__Adventure,Genre__Board+Game,Genre__Education,Genre__Fighting,...,Platform_XOne,Platform_NS,Platform_PS5,Platform_XS,Platform_ST,Publisher_class,Developer_class,IP_class,Sales_label_q4,Sales_label_q10
0,Wii Sports,1,1,1.0,82.65,0,0,0,0,0,...,0,0,0,0,0,4,4,2,3,9
1,Mario Kart Wii,1,1,1.0,35.98,0,0,0,0,0,...,0,0,0,0,0,4,4,3,3,9
2,Wii Sports Resort,1,1,0.0,32.90,0,0,0,0,0,...,0,0,0,0,0,4,4,2,3,9
3,Tetris,1,1,1.0,35.84,0,0,0,0,0,...,0,0,0,0,0,0,0,2,3,9
4,New Super Mario Bros.,1,1,0.0,29.85,0,0,0,0,0,...,0,0,0,0,0,4,4,3,3,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4251,Hospital Tycoon,0,1,0.0,0.01,0,0,0,0,0,...,0,0,0,0,0,3,0,0,0,0
4253,Karnaaj Rally,1,1,0.0,0.01,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4254,Spore Galactic Adventures,0,1,0.0,0.01,0,0,0,0,0,...,0,0,0,0,0,4,3,0,0,0
4255,Super Robot Taisen: Original Generation,0,1,0.0,0.01,0,0,0,0,0,...,0,0,0,0,0,3,0,2,0,0
4256,Teslagrad,0,1,0.0,0.01,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [9]:
print(df3.shape)
df3 = df3.drop(['Release_date','Publisher','Developer','Global_Sales'],axis = 1)

(3297, 57)

In [10]:
df3.set_index('Name',inplace = True)

In [11]:
from sklearn import ensemble
from sklearn.model_selection import train_test_split
df5 = df3.drop('Sales_label_q10',axis = 1)
target = df5.iloc[:,-1]

In [12]:
data = df5.drop('Sales_label_q4',axis = 1)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3297 entries, Wii Sports to Teslagrad
Data columns (total 50 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   multiplayer              3297 non-null   int64
 1   singleplayer             3297 non-null   int64
 2   awarded                  3297 non-null   float64
 3   Genre__Action-Adventure  3297 non-null   int64
 4   Genre__Adventure         3297 non-null   int64
 5   Genre__Board+Game        3297 non-null   int64
 6   Genre__Education         3297 non-null   int64
 7   Genre__Fighting          3297 non-null   int64
 8   Genre__MMO               3297 non-null   int64
 9   Genre__Misc              3297 non-null   int64
 10  Genre__Music             3297 non-null   int64
 11  Genre__Party             3297 non-null   int64
 12  Genre__Platform          3297 non-null   int64
 13  Genre__Puzzle            3297 non-null   int64
 14  Genre__Racing            3297 non-null   int64
 15  Genre__Role-Playing      3297 non-null   int64
 16  Genre__Shooter           3297 non-null   int64
 17  Genre__Simulation        3297 non-null   int64
 18  Genre__Sports            3297 non-null   int64
 19  Genre__Strategy          3297 non-null   int64
 20  Genre__Visual+Novel      3297 non-null   int64
 21  Meta_Critic_Score        3297 non-null   float64
 22  Meta_User_Score          3297 non-null   float64
 23  N_Critic_Reviews         3297 non-null   int64
 24  N_User_Reviews           3297 non-null   int64
 25  Platform_PC              3297 non-null   int64
 26  Platform_N64             3297 non-null   int64
 27  Platform_PlayStation     3297 non-null   int64
 28  Platform_DC              3297 non-null   int64
 29  Platform_PS2             3297 non-null   int64
 30  Platform_XB              3297 non-null   int64
 31  Platform_GBA             3297 non-null   int64
 32  Platform_GC              3297 non-null   int64
 33  Platform_NDS             3297 non-null   int64
 34  Platform_X360            3297 non-null   int64
 35  Platform_PSP             3297 non-null   int64
 36  Platform_NWii            3297 non-null   int64
 37  Platform_PS3             3297 non-null   int64
 38  Platform_3DS             3297 non-null   int64
 39  Platform_PSV             3297 non-null   int64
 40  Platform_WiiU            3297 non-null   int64
 41  Platform_PS4             3297 non-null   int64
 42  Platform_XOne            3297 non-null   int64
 43  Platform_NS              3297 non-null   int64
 44  Platform_PS5             3297 non-null   int64
 45  Platform_XS              3297 non-null   int64
 46  Platform_ST              3297 non-null   int64
 47  Publisher_class          3297 non-null   int64
 48  Developer_class          3297 non-null   int64
 49  IP_class                 3297 non-null   int64
dtypes: float64(3), int64(47)
memory usage: 1.3+ MB

In [16]:
X_train,X_test,y_train,y_test = train_test_split(data,target,test_size = 0.2,random_state = 12)

In [17]:
clf= ensemble.RandomForestClassifier(n_jobs = -1,random_state = 321)
clf.fit(X_train,y_train)

RandomForestClassifier(n_jobs=-1, random_state=321)

In [18]:
y_pred = clf.predict(X_test)
pd.crosstab(y_test,y_pred,rownames =['reel'],colnames = ['predict'] )
pd.crosstab(y_test, y_pred, rownames=['Classe réelle'], colnames=['Classe prédite'])

Classe prédite   0   1   2    3
Classe réelle
0               57  37  15    4
1               38  83  52    4
2               12  54  85   36
3                2  17  22  142

In [19]:
print('score test',clf.score(X_test,y_test))
print('score train',clf.score(X_train,y_train))

score test 0.556060606060606
score train 1.0

In [105]:
df3.to_csv('wiki_metacritics.csv')